<div class="login">
  <div class="login__left">
    <div>
      <img src="../../assets/images/AFPEBSO.png">
      <h1>Leaving No Soldiers<br>
        Orphan Behind</h1>
      <span>
        <small>#IHelpEBSO</small>
        <small>#AFPyoucanTRUST</small>
      </span>
    </div>
  </div>

  <div class="login__right">
    <form #loginForm="ngForm">
      <div class="banner mb-4">
        <h4>Login</h4>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
          [(ngModel)]="loginRequest.username" name="username" #username="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <label for="floatingInput" *ngIf="!hasError(username)">Username</label>
        <label class="warning" for="floatinInput" *ngIf="hasError(username) && username.errors?.['required']">Username
          is
          required</label>
        <label class="warning" *ngIf="username.errors?.['pattern']">Invalid email format</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
          [(ngModel)]="loginRequest.password" name="password" #password="ngModel" required>
        <label for="floatingPassword" *ngIf="!hasError(password)">Password</label>
        <label class="warning" for="floatingPassword"
          *ngIf="hasError(password) && password.errors?.['required']">Password is
          required</label>
      </div>
      <div class="loginMessage py-2" *ngIf="showMessage">
        <small class="warning"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
              clip-rule="evenodd" />
          </svg>Oops! Username or password is incorrect</small>
      </div>
      <button *ngIf="!processing" (click)="loginUser()" class="btns btns__primary mt-4" type="submit"
        [disabled]="!loginForm.valid">Login</button>
      <div class="d-flex justify-content-center mt-4 pt-1" *ngIf="processing">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <button class="btns btns__register mt-2" routerLink="../registration">Register</button>
    </form>
  </div>
</div>