<div class="login">
  <div class="login__left">
    <div>
      <img src="../../assets/images/AFPEBSO.png">
      <h1>Leaving No Soldiers<br>
        Orphan Behind</h1>
        <span>
          <small>#IHelpEBSO</small>
          <small>#AFPyoucanTRUST</small>
        </span>
    </div>
  </div>
  <div class="login__right">
    <form>
      <div class="banner mb-4">
        <h4>Login</h4>
      </div>
      <div class="form-floating mb-3">
        <input type="user" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="btns btns__primary mt-4" type="button">Login</button>
    </form>
  </div>
</div>