<div class="afpmember">
    <div class="afpmember__left">
        <form class="cont1">
            <h6>AFP / CAA Member</h6>
            <div class="afpmember-info">
                <div class="left form-floating">
                    <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_surname" name="afp_surname" #afp_surname="ngModel" placeholder=" ">
                    <label for="floatingInput">Surname</label>
                </div>
                <div class="mid form-floating">
                    <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_firstname" name="afp_firstname" #afp_firstname="ngModel" placeholder=" ">
                    <label for="floatingInput">First Name</label>
                </div>
                <div class="right form-floating">
                    <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_middleInitial" name="afp_middleInitial" #afp_middleInitial="ngModel" placeholder=" ">
                    <label for="floatingInput">Middle Name</label>
                </div>
            </div>
            <div class="nxt">
                <div class="mt-4">
                    <div class="left form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_militaryStatus" name="afp_militaryStatus" #afp_militaryStatus="ngModel" placeholder=" ">
                        <label for="floatingInput">Military Status</label>
                    </div>
                </div>
            </div>
            <div class="unitassignment mt-4">
                <div class="unitassignment-info">
                    <div class="left form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_date_of_death" name="afp_middleInitial" #afp_middleInitial="ngModel" placeholder=" ">
                        <label for="floatingInput">Date of Death / CDD</label>
                    </div>
                    <div class="right form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_unitAssignment" name="afp_unitAssignment" #afp_unitAssignment="ngModel" placeholder=" ">
                        <label for="floatingInput">PRESENT (for active) or LAST (for CDD) UNIT ASSIGNMENT</label>
                    </div>
                </div>
            </div>
            <div class="address">
                <div class="mt-4">
                    <div class="left form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_currentAddress" name="afp_currentAddress" #afp_currentAddress="ngModel" placeholder=" ">
                        <label for="floatingInput">Address</label>
                    </div>
                </div>
            </div>
            <div class="contact">
                <h6 class="mt-4">Contacts</h6>
                <div class="contact-info">
                    <div class="left form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_phoneNo" name="afp_phoneNo" #phoneNo="ngModel" placeholder=" ">
                        <label for="floatingInput">Phone</label>
                    </div>
                    <div class="mid form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_cellPhoneNo" name="afp_cellPhoneNo" #afp_cellPhoneNo="ngModel" placeholder=" ">
                        <label for="floatingInput">Cell Phone</label>
                    </div>
                    <div class="right form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_emailAddress" name="afp_emailAddress" #afp_emailAddress="ngModel" placeholder=" ">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
            </div>
            <div class="birhdate mt-4">
                <div class="birth-info">
                    <div class="left form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_birthDate" name="afp_birthDate" #afp_birthDate="ngModel" placeholder=" ">
                        <label for="floatingInput">Date of Birth</label>
                    </div>
                    <div class="right form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_birthPlace" name="afp_birthPlace" #afp_birthPlace="ngModel" placeholder=" ">
                        <label for="floatingInput">Place of Birth</label>
                    </div>
                </div>
            </div>
            <div class="other mt-4">
                <div class="other-info">
                    <div class="left form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_sex" name="afp_sex" #afp_sex="ngModel" placeholder=" ">
                        <label for="floatingInput">Sex</label>
                    </div>
                    <div class="mid form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_civilStatus" name="afp_civilStatus" #afp_civilStatus="ngModel" placeholder=" ">
                        <label for="floatingInput">Civil Status</label>
                    </div>
                    <div class="right form-floating">
                        <input type="user" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_nrOfDependents" name="afp_nrOfDependents" #afp_nrOfDepedents="ngModel" placeholder=" ">
                        <label for="floatingInput">NR. OF DEPENDENTS</label>
                    </div>
                </div>
            </div>
            <div class="texts mt-4">
                <div class="texts-info">

                    <div class="left">
                        <h6>Name of Legal Dependents</h6>
                        <label></label>
                    </div>

                    <div class="mid">
                        <h6>Date of Birth</h6>
                        <label></label>
                    </div>

                    <div class="mid2">
                        <h6>Yr. Level</h6>
                        <label></label>
                    </div>

                    <div class="left">
                        <h6>Educational Program Availed</h6>
                        <label></label>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="afpmember__right">
        <form class="cont2">
            <img src="../../assets/images/AFPEBSO.png">
            <h6> Signature of Applicant</h6>
            <h6> Signature of AFP / CAA Member or Guardian</h6>
        </form>
    </div>
</div>