<div class="registration">
  <div class="header  py-2">
    <div class="">
      <div class="btns__ghost" routerLink="../login">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div>left</div>
    <div>
      <div class="applicantInformation">
        <div class="box rounded">

          <!-- applicant info -->
          <div class="applicant-info" *ngIf="step === 0">
            <h6>Applicant Information</h6>
            <div class="col-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.area" name="area"
                  #area="ngModel" placeholder=" ">
                <label for="floatingInput">Area</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput"
                  [(ngModel)]="registrationModel.relationship_to_afp_member" name="relationship_to_afp_member"
                  #relationship_to_afp_member="ngModel" placeholder=" ">
                <label for="floatingInput">Relationship to AFP / CAA Member</label>
              </div>
            </div>
            <div class="d-flex flex-column">
              <h6>Name of the Applicant</h6>
              <div class="col-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.surname" name="surname"
                  #surname="ngModel" placeholder=" ">
                  <label for="floatingInput">Surname</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.firstname" name="firstname"
                  #firstname="ngModel" placeholder=" ">
                  <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.middlename" name="middlename"
                  #middlename="ngModel" placeholder=" ">
                  <label for="floatingInput">Middle Name</label>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <h6>Address</h6>
              <div class="gap-3 d-flex flex-column">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.currentAddress" name="currentAddress"
                  #currentAddress="ngModel" placeholder=" ">
                  <label for="floatingInput">Current Mailing Address</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.provincialAddress" name="provincialAddress"
                  #provincialAddress="ngModel" placeholder=" ">
                  <label for="floatingInput">Provincial Address</label>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <h6>Contact</h6>
              <div class="col-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.phoneNumber" name="phoneNumber"
                  #phoneNumber="ngModel" placeholder=" ">
                  <label for="floatingInput">Phone</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.cellphoneNumber" name="cellphoneNumber"
                  #cellphoneNumber="ngModel" placeholder=" ">
                  <label for="floatingInput">Cell Phone</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.emailAddress" name="emailAddress"
                  #emailAddress="ngModel" placeholder=" ">
                  <label for="floatingInput">Email</label>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.birthDate" name="birthDate"
                #birthDate="ngModel" placeholder=" ">
                <label for="floatingInput">Date of Birth</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.birthPlace" name="birthPlace"
                #birthPlace="ngModel" placeholder=" ">
                <label for="floatingInput">Place of Birth</label>
              </div>
            </div>
            <div class="col-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.sex" name="sex"
                #sex="ngModel" placeholder=" ">
                <label for="floatingInput">Sex</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.civilStatus" name="civilStatus"
                #civilStatus="ngModel" placeholder=" ">
                <label for="floatingInput">Civil Status</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.religion" name="religion"
                #religion="ngModel" placeholder=" ">
                <label for="floatingInput">Religion</label>
              </div>
            </div>
            <div class="d-flex flex-column">
              <h6>Education</h6>
              <div class="col-3">
                <div class="left form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.schoolIntendedToEnrollIn" name="schoolIntendedToEnrollIn"
                  #schoolIntendedToEnrollIn="ngModel" placeholder=" ">
                  <label for="floatingInput">School Intended to Enroll In</label>
                </div>
                <div class="mid form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.schoolAddress" name="schoolAddress"
                  #schoolAddress="ngModel" placeholder=" ">
                  <label for="floatingInput">School Address</label>
                </div>
                <div class="right form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.educationLevel" name="educationLevel"
                  #educationLevel="ngModel" placeholder=" ">
                  <label for="floatingInput">Educational Level</label>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="left form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.yearLevel" name="yearLevel"
                #yearLevel="ngModel" placeholder=" ">
                <label for="floatingInput">Year Level</label>
              </div>
              <div class="mid form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.course" name="course"
                #course="ngModel" placeholder=" ">
                <label for="floatingInput">Course</label>
              </div>
            </div>
            <div class="button-section">
              <button class="btns btns__primary" (click)="step = + 1">Next</button>
            </div>
          </div>

          <!-- afp-info -->
          <div class="afp-info" *ngIf="step === 1">
            <h6>INFORMATION OF AFP / CAA MEMBER</h6>
            <div class="col-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_surname"
                name="afp_surname" #afp_surname="ngModel" placeholder=" ">
                <label for="floatingInput">Surname</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_firstname"
                name="afp_firstname" #afp_firstname="ngModel" placeholder=" ">
                <label for="floatingInput">First Name</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_middleInitial"
                name="afp_middleInitial" #afp_middleInitial="ngModel" placeholder=" ">
                <label for="floatingInput">Middle Initial</label>
              </div>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_militaryStatus"
              name="afp_militaryStatus" #afp_militaryStatus="ngModel" placeholder=" ">
              <label for="floatingInput">Military Status</label>
            </div>
            <div class="col-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_date_of_death"
                name="afp_date_of_death" #afp_date_of_death="ngModel" placeholder=" ">
                <label for="floatingInput">Date of Death / CDD</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_unitAssignment"
                name="afp_unitAssignment" #afp_unitAssignment="ngModel" placeholder=" ">
                <label for="floatingInput">PRESENT (for active) or LAST (for CDD) UNIT ASSIGNMENT</label>
              </div>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_currentAddress"
              name="afp_currentAddress" #afp_currentAddress="ngModel" placeholder=" ">
              <label for="floatingInput">Address</label>
            </div>
            <div class="d-flex flex-column">
              <h6>Contacts</h6>
              <div class="col-3">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput"  [(ngModel)]="registrationModel.afp_phoneNo"
                  name="afp_phoneNo" #afp_phoneNo="ngModel"placeholder=" ">
                  <label for="floatingInput">Phone</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_cellPhoneNo"
                  name="afp_cellPhoneNo" #afp_cellPhoneNo="ngModel" placeholder=" ">
                  <label for="floatingInput">Cell Phone</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_emailAddress"
                  name="afp_emailAddress" #afp_emailAddress="ngModel" placeholder=" ">
                  <label for="floatingInput">Email</label>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_birthDate"
                name="afp_birthDate" #afp_birthDate="ngModel" placeholder=" ">
                <label for="floatingInput">Date of Birth</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_birthPlace"
                name="afp_birthPlace" #afp_birthPlace="ngModel" placeholder=" ">
                <label for="floatingInput">Place of Birth</label>
              </div>
            </div>
            <div class="col-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_sex"
                name="afp_sex" #afp_sex="ngModel" placeholder=" ">
                <label for="floatingInput">Sex</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_civilStatus"
                name="afp_civilStatus" #afp_civilStatus="ngModel" placeholder=" ">
                <label for="floatingInput">Civil Status</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_nrOfDependents"
                name="afp_nrOfDependents" #afp_nrOfDependents="ngModel" placeholder=" ">
                <label for="floatingInput">NR. OF DEPENDENTS</label>
              </div>
            </div>
            <div class="col-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_nameOfLegalDependents"
                name="afp_nameOfLegalDependents" #afp_nameOfLegalDependents="ngModel" placeholder=" ">
                <label for="floatingInput">Name of Legal Dependent</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_birthDate"
                name="afp_birthDate" #afp_birthDate="ngModel" placeholder=" ">
                <label for="floatingInput">Date of Birth</label>
              </div>
            </div>
            <div class="col-2">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_dependentsYearLevel"
                name="afp_dependentsYearLevel" #afp_dependentsYearLevel="ngModel" placeholder=" ">
                <label for="floatingInput">Yr. Level</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.afp_educationalProgramAvailed"
                name="afp_educationalProgramAvailed" #afp_educationalProgramAvailed="ngModel" placeholder=" ">
                <label for="floatingInput">Educational Program Availed</label>
              </div>
            </div>
            <div class="button-section">
              <button class="btns btns__primary" (click)="step = 1 + 1">Next</button>
              <button class="btns btns__register" (click)="step = 1 - 1">Back</button>
            </div>
          </div>

          <!-- guardian-info -->
          <div class="guardian-info" *ngIf="step === 2">
            <h6>INFORMATIONS OF APPLICANT'S GUARDIAN</h6>
            <div class="col-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_surname"
                name="guardian_surname" #guardian_surname="ngModel" placeholder=" ">
                <label for="floatingInput">Surname</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_firstName"
                name="guardian_firstName" #guardian_firstName="ngModel" placeholder=" ">
                <label for="floatingInput">First Name</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_MiddleName"
                name="guardian_MiddleName" #guardian_MiddleName="ngModel" placeholder=" ">
                <label for="floatingInput">Middle Name</label>
              </div>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_relationshipToApplicant"
              name="guardian_relationshipToApplicant" #guardian_relationshipToApplicant="ngModel" placeholder=" ">
              <label for="floatingInput">RELATIONSHIP TO APPLICANT</label>
            </div>
            <div class="d-flex flex-column">
              <h6>Address</h6>
              <div class="gap-3 d-flex flex-column">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_currentAddress"
                  name="guardian_currentAddress" #guardian_currentAddress="ngModel" placeholder=" ">
                  <label for="floatingInput">Current Mailing Address</label>
                </div>
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_provincialAddress"
                  name="guardian_provincialAddress" #guardian_provincialAddress="ngModel" placeholder=" ">
                  <label for="floatingInput">Provincial Address</label>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column">
              <h6>Contacts</h6>
              <div class="col-3">
                <div class="left form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_phoneNo"
                  name="guardian_phoneNo" #guardian_phoneNo="ngModel" placeholder=" ">
                  <label for="floatingInput">Phone</label>
                </div>
                <div class="mid form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_cellPhoneNo"
                  name="guardian_cellPhoneNo" #guardian_cellPhoneNo="ngModel" placeholder=" ">
                  <label for="floatingInput">Cell Phone</label>
                </div>
                <div class="right form-floating">
                  <input type="text" class="form-control" id="floatingInput" [(ngModel)]="registrationModel.guardian_emailAddress"
                  name="guardian_emailAddress" #guardian_emailAddress="ngModel" placeholder=" ">
                  <label for="floatingInput">Email</label>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label mt-2">Upload Applicant Photo</label>
              <input class="form-control" type="file" id="formFile">

              <label for="formFile" class="form-label mt-2">Upload Applicant Signature</label>
              <input class="form-control" type="file" id="formFile">

              <label for="formFile" class="form-label mt-2">Upload AFP / CAA Member Signature</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <div class="button-section">
              <button class="btns btns__primary" (click)="addApplicants()">Submit</button>
              <button class="btns btns__register" (click)="step = 1 - 1">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
