<div class="header-section">
  <div class="information pb-5">
    <div class="info__left">
      <h4 class="my-auto">Information</h4>
    </div>
    <div class="info__right">
      <div class="nav">
        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="applicant" routerLinkActive="active">Applicant</a>
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="afp-member" routerLinkActive="active">AFP / CAA Member</a>
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="guardian" routerLinkActive="active">Guardian</a>
        </nav>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
