<div class="backButton">
  <div class="back-btn py-1">
    <div routerLinkActive="active" routerLink="../grantees">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
          clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</div>
<div class="header-section">
  <div class="information pb-5">
    <div class="info__left">
      <h4 class="my-auto">Information</h4>
    </div>
    <div class="info__right">
      <div class="nav">
        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="../grantee/applicant"
            routerLinkActive="active">Applicant</a>
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="afp-member" routerLinkActive="active">AFP / CAA
            Member</a>
          <a class="flex-sm-fill text-sm-center nav-link" routerLink="guardian" routerLinkActive="active">Guardian</a>
        </nav>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>