<div class="cards__grantees p-2" routerLink="grantee/12" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <img
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKlV66ovJanDLtJx-0AuXshi_z9NrBPB-KW0llzaPXUWhRRQ4GKMFKUc3Uthx_6IMMwVU&usqp=CAU">
  <span class="user-information">
    <strong>Rastaman</strong>
    <small>halfzombie@gmail.com</small>
  </span>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>