.header-section {
    display: grid;
    grid-template-columns: 75% 25%;
    border-bottom: none;

    .info__left {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1rem;

        .back-btn {
            padding: 5px;

            svg {
                width: 1.4em;
                cursor: pointer;
            }
        }

        .back-btn:hover {
            border-radius: 10em;
            background-color: $border-color;
        }
    }

    .info__right {
        margin-left: 2em;
        .nav {
            gap: 0.5rem;

            a {
                border: 1px solid $border-color;
                color: $secondary-color;
            }

            .active {
                border: 1px solid $primary-color;
                color: $primary-color;
                background: none !important;
            }
        }
    }
}



.grantee {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;

    &__left {
        width: 100%;

        .una {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            .left {
                width: 30%;
            }

            .right {
                width: 70%;
            }
        }


        .nxt {

            .appdetails {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
            }

            .left {
                width: 32%;
            }

            .mid {
                width: 32%;
            }

            .right {
                width: 32%;
            }
        }

        .numbers {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;

            .left {
                width: 32%;
            }

            .mid {
                width: 32%;
            }

            .right {
                width: 32%;
            }
        }
    }

    &__right {
        max-width: 100%;

        .cont2 {
            align-items: center;
            justify-items: center;
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
    }

    img {
        width: 50%;
    }

}

@media screen and (max-width: 1000px) {
    .grantee {
        display: flex;
        flex-direction: column;

        label {
            font-size: smaller;
        }

        &__left {
            display: flex;
            flex-direction: column;
            width: 100%;

            .una {
                flex-direction: column;

                .left {
                    width: 100%;
                }

                .right {
                    width: 100%;
                }
            }

            .nxt .appdetails {
                flex-direction: column;

                .left {
                    width: 100%;
                }

                .mid {
                    width: 100%;
                }

                .right {
                    width: 100%;
                }
            }

            .nxt2 .numbers {
                flex-direction: column;

                .left {
                    width: 100%;
                }

                .mid {
                    width: 100%;
                }

                .right {
                    width: 100%;
                }
            }

        }
    }
}