.grantees {

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;

    .search-bar {
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid $border-color;
      padding: 8px;
      gap: 0.5rem;

      svg {
        height: 25px;
      }

      input {
        width: 100%;
        border: none;
      }

      .srch svg {
        width: 2em;
        display: flex;
        margin-left: 1em;
        color: $secondary-color;
      }

      button {
        width: 9em;
        border: solid, $border-color;
      }

      button svg {
        width: 2em;
        margin-right: 1emgit;

      }

      .dropdown {

        button {
          height: 45px;
          width: 45px;
        }
      }
    }
  }
}