.grantee {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h5 {
      margin: auto;
    }

    nav {
      gap: 0.5rem;

      .active {
        background-color: transparent !important;
        color: $primary-color !important;
        border: 1px solid $primary-color !important;
      }

      .nav-link {
        border: 1px solid $border-color;
        color: $secondary-color;
      }
    }

    .btns {
      &__ghost {
        height: auto;
        align-items: center;
        padding: 8px;
        min-width: 30px !important;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        &:hover {
          background-color: whitesmoke !important;
          cursor: pointer;
        }

        svg {
          margin: auto !important;
          height: 20px;
        }
      }

      &__btn-icons {
        height: 100%;
        width: 40px;

        svg {
          height: 20px;
          color: $secondary-color;
        }
      }
    }
  }
}


.applicant-component {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 0.5rem;

  .col1 {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0.5rem;
  }

  .col2 {

    form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
    }
  }

  .col3 {
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .col4 {
    form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      height: 200px;
      width: 200px;
    }
  }
}

@media screen and (max-width: 999px) {
  .applicant-component {
    display: flex;
    flex-direction: column;
  }
}
