.grantees {
    
  .header {
    display: grid;
    grid-template-columns: 96% 4%;
    height: fit-content;
    gap: 0.5rem;
    border: none;

    .search-bar {
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid $border-color;
      padding: 8px;
      gap: 0.5rem;

      svg {
        height: 25px;
      }

      input {
        width: 100%;
        border: none;
        outline: none;
      }
    }

    .dropdown {

      button {
        height: 100%;
        width: 100%;

        svg {
          height: 24px;
          fill: $secondary-color;
        }
      }
    }
  }
}