.header {
  border-bottom: 1px solid $border-color;
  margin: auto 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $black;
  padding: 0px 15px;
  
  .header-indicator{
    gap: 1rem;
    display: flex;
    align-items: center;

    p{
      margin: auto;
      font-weight: bolder;
    }
  }
}

.header>* {
  overflow: visible;
  z-index: 3;
}
