.main {
  display: flex;
  overflow: hidden;
  height: 100vh;


  .page-container {
    width: 100%;

    .router-container {
      height: 100%;
      padding: 0px 15px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: whitesmoke;
    }
  }
}
