<div class="applicantPreview">
  <div class="applicantInformation">

    <main class="p-3 rounded">
      <div class="header-preview">
        <div class="left">
          <div class="">
            <div class="btns__ghost" routerLink="../../applicant">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
                  clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <h6 class="m-2">APPLICANT INFORMATION</h6>
        </div>
        <div class="btn-group float-end" >
          <button type="button" (click)="returnApplication(grantee.id)"
            [ngClass]="grantee.status == 'For Deliberation' ? 'btn btns__primary' : 'btn btns__danger'">{{
            grantee.status }}</button>
          <button type="button"
            [ngClass]="grantee.status == 'For Deliberation' ? 'btn btns__primary dropdown-toggle dropdown-toggle-split' : 'btn btns__danger dropdown-toggle dropdown-toggle-split'"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="changeReturnStatus('For Deliberation')">For Deliberation</a></li>
            <li><a class="dropdown-item" (click)="changeReturnStatus('Declined')">Declined</a></li>
          </ul>
        </div>
      </div>
      <div class="applicant-info mt-3">
        <div class="wrapper">

          <div class="col-2">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.area" name="area"
                #area="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Area</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput"
                [(ngModel)]="grantee.relationship_to_afp_member" name="relationshipToAfpMember"
                #relationshipToAfpMember="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Relationship to AFP / CAA Member</label>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h6>Name of the Applicant</h6>
            <div class="col-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.surname" name="surname"
                  #surname="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Surname</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.firstname"
                  name="firstname" #firstname="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">First Name</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.middlename"
                  name="middlename" #middlename="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Middle Name</label>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h6>Address</h6>
            <div class="gap-3 d-flex flex-column">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.currentAddress"
                  name="currentAddress" #currentAddress="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Current Mailing Address</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.provincialAddress"
                  name="provincialAddress" #provindialAddress="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Provincial Address</label>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h6>Contact</h6>
            <div class="col-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.phoneNumber"
                  name="phoneNumber" #phoneNumber="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Phone</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.cellphoneNumber"
                  name="cellPhoneNumber" #cellPhoneNumber="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Cell Phone</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.emailAddress"
                  name="emailAddress" #emailAddress="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Email</label>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.birthDate"
                name="birthDate" #birthDate="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Date of Birth</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.birthPlace"
                name="birthPlace" #birthPlace="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Place of Birth</label>
            </div>
          </div>
        </div>
        <div>
          <div class="wrapper profile mt-5">
            <img class="mb-4">
            <h6> Signature of Applicant</h6>
            <h6> Signature of AFP / CAA Member or Guardian</h6>
          </div>
        </div>
      </div>
      <div class="secondApplicant-info mt-3">
        <div class="wrapper">
          <div class="col-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.sex" name="sex"
                #sex="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Sex</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.civilStatus"
                name="civilStatus" #civilStatus="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Civil Status</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.religion" name="religion"
                #religion="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Religion</label>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h6>Education</h6>
            <div class="col-3">
              <div class="left form-floating">
                <input type="text" class="form-control" id="floatingInput"
                  [(ngModel)]="grantee.schoolIntendedToEnrollIn" name="schoolIntendedToEnrollIn"
                  #schoolIntendedToEnrollIn="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">School Intended to Enroll In</label>
              </div>
              <div class="mid form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.schoolAddress"
                  name="schoolAddress" #schoolAddress="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">School Address</label>
              </div>
              <div class="right form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.educationLevel"
                  name="educationLevel" #educationLevel="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Educational Level</label>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="left form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.yearLevel"
                name="yearLevel" #yearLevel="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Year Level</label>
            </div>
            <div class="mid form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.course" name="course"
                #course="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Course</label>
            </div>
          </div>
        </div>
      </div>
      <div class="afp-info mt-5">
        <div class="wrapper">
          <h6>INFORMATION OF AFP / CAA MEMBER</h6>
          <div class="col-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_surname"
                name="afp_surname" #afp_surname="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Surname</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_firstname"
                name="afp_firstname" #afp_firstname="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_middleInitial"
                name="afp_middleInitial" #afp_middleInitial="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Middle Initial</label>
            </div>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_militaryStatus"
              name="afp_militaryStatus" #afp_militaryStatus="ngModel" placeholder=" " [disabled]="!edit">
            <label for="floatingInput">Military Status</label>
          </div>
          <div class="col-2">
            <div class="form-floating">
              <input type="date" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_date_of_death"
                name="afp_date_of_death" #afp_date_of_death="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Date of Death / CDD</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_unitAssignment"
                name="afp_unitAssignment" #afp_unitAssignment="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">PRESENT (for active) or LAST (for CDD) UNIT ASSIGNMENT</label>
            </div>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_currentAddress"
              name="afp_currentAddress" #afp_currentAddress="ngModel" placeholder=" " [disabled]="!edit">
            <label for="floatingInput">Address</label>
          </div>
          <div class="d-flex flex-column">
            <h6>Contacts</h6>
            <div class="col-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_phoneNo"
                  name="afp_phoneNo" #afp_phoneNo="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Phone</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_cellPhoneNo"
                  name="afp_cellPhoneNo" #afp_cellPhoneNo="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Cell Phone</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_emailAddress"
                  name="afp_emailAddress" #afp_emailAddress="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Email</label>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_birthDate"
                name="afp_birthDate" #afp_birthDate="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Date of Birth</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_birthPlace"
                name="afp_birthPlace" #afp_birthPlace="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Place of Birth</label>
            </div>
          </div>
          <div class="col-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_sex" name="afp_sex"
                #afp_sex="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Sex</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_civilStatus"
                name="afp_civilStatus" #afp_civilStatus="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Civil Status</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.afp_nrOfDependents"
                name="afp_nrOfDependents" #afp_nrOfDependents="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">NR. OF DEPENDENTS</label>
            </div>
          </div>
          <div class="col-4">
            <div class="nameOfLegalDepedents">
              <h6>Name of Legal Dependents</h6>
              <label></label>
            </div>

            <div class="dateOfBirth">
              <h6>Date of Birth</h6>
              <label></label>
            </div>

            <div class="yrLevel">
              <h6>Yr. Level</h6>
              <label></label>
            </div>

            <div class="educationalProgramAvailed">
              <h6>Educational Program Availed</h6>
              <label></label>
            </div>
          </div>
        </div>
      </div>
      <div class="guardian-info mt-5">
        <div class="wrapper">
          <h6>INFORMATIONS OF APPLICANT'S GUARDIAN</h6>
          <div class="col-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.guardian_surname"
                name="guardian_surname" #guardian_surname="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Surname</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.guardian_firstName"
                name="guardian_firstName" #guardian_firstName="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">First Name</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.guardian_MiddleName"
                name="guardian_MiddleName" #guardian_MiddleName="ngModel" placeholder=" " [disabled]="!edit">
              <label for="floatingInput">Middle Name</label>
            </div>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput"
              [(ngModel)]="grantee.guardian_relationshipToApplicant" name="guardian_relationshipToApplicant"
              #guardian_relationshipToApplicant="ngModel" placeholder=" " [disabled]="!edit">
            <label for="floatingInput">RELATIONSHIP TO APPLICANT</label>
          </div>
          <div class="d-flex flex-column">
            <h6>Address</h6>
            <div class="gap-3 d-flex flex-column">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.guardian_currentAddress"
                  name="guardian_currentAddress" #guardian_currentAddress="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Current Mailing Address</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput"
                  [(ngModel)]="grantee.guardian_provincialAddress" name="guardian_provincialAddress"
                  #guardian_provincialAddress="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Provincial Address</label>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h6>Contacts</h6>
            <div class="col-3">
              <div class="left form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.guardian_phoneNo"
                  name="guardian_phoneNo" #guardian_phoneNo="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Phone</label>
              </div>
              <div class="mid form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.guardian_cellPhoneNo"
                  name="guardian_cellPhoneNo" #guardian_cellPhoneNo="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Cell Phone</label>
              </div>
              <div class="right form-floating">
                <input type="text" class="form-control" id="floatingInput" [(ngModel)]="grantee.guardian_emailAddress"
                  name="guardian_emailAddress" #guardian_emailAddress="ngModel" placeholder=" " [disabled]="!edit">
                <label for="floatingInput">Email</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>