<div class="applicant">
    <div class="searchbar">
        <div class="search-box">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
            </svg>
            <input type="text" list="datalistOptions" id="exampleDataList" placeholder="Search">
        </div>
    </div>
    <div class="applicant-container mt-2 p-2 rounded">
        <!-- <app-applicant-item *ngFor="let grantee of granteeList" [grantee]="grantee"></app-applicant-item> -->
        <table class="table table-striped table-hover">
            <tr>
                <th>Name</th>
                <th>Date of submission</th>
                <th></th>
            </tr>
            <tbody>
                <tr *ngFor="let grantee of granteeList">
                    <td>{{ grantee.surname +', '+ grantee.firstname + ' ' + grantee.middlename }}
                    </td>
                    <td>
                        {{ grantee.dateSubmitted | date: 'fullDate' }}
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>