<div class="header py-2">
  <div class="my-auto">
    <strong>{{ getTitle() }}</strong>
  </div>
  <div class="dropdown">
    <div class="cards__user-chip" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKlV66ovJanDLtJx-0AuXshi_z9NrBPB-KW0llzaPXUWhRRQ4GKMFKUc3Uthx_6IMMwVU&usqp=CAU">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"/>
      </svg>
    </div>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><a class="dropdown-item" href="#">About</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </div>
</div>