.btns {
  padding: 8px 12px;
  outline: none;
  border-radius: 4px;
  font-size: 0.895rem;

  &__primary {
    background-color: $primary-color;
    color: white;
    border: none;
    font-size: 0.895rem;
  }

  &__register{
    background-color: white;
    color: $primary-color;
    border: 1px solid $primary-color;
    font-size: 0.895rem;

  }

  &__danger {
    background-color: red;
    color: white;
    border: none;
    font-size: 0.895rem;
  }

  &__btn-icons {
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 4px;
  }

  &__ghost-primary {
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 4px;
    color: $primary-color;
    font-size: 0.895rem;

    &:hover {
      color: white;
      background-color: $primary-color;
    }
  }

  &__ghost {
    background-color: none;
    border: none;
  }
}

input[type="text"]:disabled {
  background-color: white;
}
