.btns {
  padding: 15px;
  outline: none;
  border-radius: 4px;
  font-size: 0.955rem;

  &__primary {
    background-color: $primary-color;
    color: white;
    border: none;
  }

  &__btn-icons {
    background-color: white;
    border: solid $border-color;
    display: flex;
    color: $secondary-color;
    flex-direction: row;
    align-items: center;
  }
}