.btns {
  padding: 15px;
  outline: none;
  border-radius: 4px;
  font-size: 0.955rem;

  &__primary {
    background-color: $primary-color;
    color: white;
    border: none;
  }

  &__btn-icons {
    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 4px;
  }

  &__ghost {
    background-color: none;
    border: none;
  }
}