.cards {

  &__user-chip {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;

    svg {
      height: 20px;
    }

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  &__grantees {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &__grantee {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      cursor: default;
      background-color: whitesmoke;
    }

    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }

    .user-information {
      display: flex;
      flex-direction: column;
    }
  }

}
